<!DOCTYPE html>
<html>

<head>
  <title>Shoplisting</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>
  <script src="shoplisting.js"></script>
</head>

<body>
  <h1>Shops</h1>
  <div ng-app="mainApp" ng-controller="shopController">
    Get the towns to build an option list:
    <label for="town">Where are you?:</label>
    <form method="GET" action=''>
      <select name="town" ng-options="town for town in towns" ng-model="selectedTown"></select>
      <input type=submit value="Go!">
    </form>
    <table border=1>
      <tr>
        <th>id</th>
        <th>Shop name</th>
        <th>Shop address</th>
        <th>Shop town</th>
        <th>Shop ratings</th>
      </tr>
      <tr ng-repeat="shop in shops">
        <td>{{ shop.id }} </td>
        <td><a href="/shop/{{ shop.id}}">{{ shop.name }}</a></td>
        <td>{{ shop.address }}</td>
        <td>{{ shop.town }}</td>
        <td>{{ shop.rating }}</td>
      </tr>
    </table>
    
  </div>
</body>

</html>